In [1]:
import pandas as pd
import numpy as np
from io import StringIO

Files needed: <br>
* Students_export.csv

<H4> Data Source: Powerschool/SFTP/Students_export.csv  <br>
    Requiring K-6 students only<br><br>
Fields required for Student file: <br>
- Institution <br>
- Primary Student ID (State ID) <br>
- Student ID (District ID or School ID) <br>
- LAST NAME <br>
- FIRST NAME <br>
- Middle Name <br>
- Suffix <br>
- Grade <br>
- Homeroom <br>
- DOB <br>
- Student_Email <br>
- Gender <br>
<br>
Create fields: Homeroom, Student_Email

<H4> Columns needed from .csv file: STUDENTS.SchoolID, STUDENTS.ID, STUDENTS.Student_Number, STUDENTS.Last_Name, STUDENTS.First_Name, STUDENTS.Middle_Name, STUDENTS.Grade_Level, STUDENTS.Home_Room, STUDENTS.DOB, STUDENTS.Gender

In [2]:
AZStudents = pd.read_csv("Students_export.csv", encoding='latin-1')

In [3]:
AZStudents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20773 entries, 0 to 20772
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STUDENTS.SchoolID                 20773 non-null  int64
 1   STUDENTS.ID                       20773 non-null  int64
 2   STUDENTS.Student_Number           20773 non-null  int64
 3   STUDENTS.Last_Name                20773 non-null  object
 4   STUDENTS.First_Name               20773 non-null  object
 5   STUDENTS.DOB                      20773 non-null  object
 6   STUDENTS.Mother                   18649 non-null  object
 7   STUDENTS.Father                   17963 non-null  object
 8   STUDENTS.Grade_Level              20773 non-null  int64
 9   STUDENTS.Home_Room                20758 non-null  object
 10  STUDENTS.Enroll_Status            20773 non-null  int64
 11  STUDENTS.Street                   20773 non-null  object
 12  STUDENTS.Home_Phone               20720 non-null  object
 13  STUDENTS.Student_Web_ID           20691 non-null  object
 14  STUDENTS.Middle_Name              18654 non-null  object
 15  STUDENTS.Gender                   20773 non-null  object
 16  STUDENTS.State_StudentNumber      20773 non-null  int64
 17  SPED Alert                        1833 non-null   object
 18  Hispanic Y/N                      20773 non-null  int64
 19  STUDENTS.Mailing_Street           20773 non-null  object
 20  STUDENTS.Mailing_City             20773 non-null  object
 21  STUDENTS.Mailing_State            20773 non-null  object
 22  STUDENTS.Mailing_Zip              20772 non-null  object
 23  STUDENTS.dcid                     20773 non-null  int64
 24  STUDENTCOREFIELDS.family_rep      14323 non-null  float64
 25  U_STUDENTSUSERFIELDS.family_id    20773 non-null  int64
 26  U_DEF_EXT_STUDENTS.sibling1hr     20771 non-null  object
 27  U_DEF_EXT_STUDENTS.sibling2hr     20772 non-null  object
 28  U_DEF_EXT_STUDENTS.sibling3hr     20772 non-null  object
 29  U_DEF_EXT_STUDENTS.sibling4hr     20772 non-null  object
 30  U_DEF_EXT_STUDENTS.sibling5hr     20772 non-null  object
 31  ELL Alert                         849 non-null    float64
 32  ACTIVITIES.indicator1             0 non-null      float64
 33  ACTIVITIES.indicator2             0 non-null      float64
 34  ACTIVITIES.childfind504           448 non-null    float64
 35  ACTIVITIES.childfindidea          20 non-null     float64
 36  504 Alert                         594 non-null    object
 37  S_AZ_STU_X.firstacquiredlanguage  14835 non-null  float64
 38  S_AZ_STU_X.homelanguagecode       20773 non-null  int64
 39  S_AZ_STU_X.spokenlanguage         14836 non-null  float64
dtypes: float64(8), int64(10), object(22)
memory usage: 6.3+ MB

In [4]:
# Starting with 21229 AZ students

In [5]:
AZ_FocusedColumns = AZStudents.filter(['STUDENTS.SchoolID', 'STUDENTS.State_StudentNumber', 'STUDENTS.Student_Number', 'STUDENTS.Last_Name', 'STUDENTS.First_Name', 'STUDENTS.Middle_Name', 'STUDENTS.Grade_Level', 'STUDENTS.DOB', 
                                       'STUDENTS.Home_Room', 'STUDENTS.Gender'])

In [6]:
AZ_FocusedColumns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20773 entries, 0 to 20772
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STUDENTS.SchoolID             20773 non-null  int64
 1   STUDENTS.State_StudentNumber  20773 non-null  int64
 2   STUDENTS.Student_Number       20773 non-null  int64
 3   STUDENTS.Last_Name            20773 non-null  object
 4   STUDENTS.First_Name           20773 non-null  object
 5   STUDENTS.Middle_Name          18654 non-null  object
 6   STUDENTS.Grade_Level          20773 non-null  int64
 7   STUDENTS.DOB                  20773 non-null  object
 8   STUDENTS.Home_Room            20758 non-null  object
 9   STUDENTS.Gender               20773 non-null  object
dtypes: int64(4), object(6)
memory usage: 1.6+ MB

In [7]:
AZ_FocusedColumns

,STUDENTS.SchoolID,STUDENTS.State_StudentNumber,STUDENTS.Student_Number,STUDENTS.Last_Name,STUDENTS.First_Name,STUDENTS.Middle_Name,STUDENTS.Grade_Level,STUDENTS.DOB,STUDENTS.Home_Room,STUDENTS.Gender
0,450,43451180,90001342,Abramo,Jonathan,Michael,7,2008-12-31,"Gibson, Kelly",M
1,450,43449569,90001328,Ballard,Shawn,Michael,7,2009-01-05,"Coleman, Grace",M
2,450,43450114,90001223,Braaflat,Jack,Michael,7,2008-12-28,"Pack, Michelle",M
3,450,43451111,90001167,Brandon,Taylor,Ann,7,2008-10-05,"Griffiths, Jasmyne",F
4,450,43449712,90001433,Cadena,Nicholas,Kingston,7,2009-02-19,"Griffiths, Jasmyne",M
...,...,...,...,...,...,...,...,...,...,...
20768,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M
20769,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F
20770,1100,39809148,61519,Moreno Perez,Lizbeth,Nicole,8,2008-01-27,"Uppal, Amita",F
20771,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F
20772,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M

<H4> Rename columns per mClass template column headings

In [8]:
AZ_FocusedColumns.rename(columns={'STUDENTS.SchoolID': 'SchoolID', 'STUDENTS.State_StudentNumber': 'State_Student_ID', 'STUDENTS.Student_Number': 'Student_Number', 'STUDENTS.Last_Name': 'Last_Name', 'STUDENTS.First_Name': 'First_Name', 'STUDENTS.Middle_Name': 'Middle_Name', 'STUDENTS.Grade_Level': 'Grade', 'STUDENTS.DOB': 'DOB', 'STUDENTS.Home_Room': 'Homeroom', 'STUDENTS.Gender': 'Gender'}, inplace=True)

In [9]:
AZ_FocusedColumns

,SchoolID,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,DOB,Homeroom,Gender
0,450,43451180,90001342,Abramo,Jonathan,Michael,7,2008-12-31,"Gibson, Kelly",M
1,450,43449569,90001328,Ballard,Shawn,Michael,7,2009-01-05,"Coleman, Grace",M
2,450,43450114,90001223,Braaflat,Jack,Michael,7,2008-12-28,"Pack, Michelle",M
3,450,43451111,90001167,Brandon,Taylor,Ann,7,2008-10-05,"Griffiths, Jasmyne",F
4,450,43449712,90001433,Cadena,Nicholas,Kingston,7,2009-02-19,"Griffiths, Jasmyne",M
...,...,...,...,...,...,...,...,...,...,...
20768,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M
20769,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F
20770,1100,39809148,61519,Moreno Perez,Lizbeth,Nicole,8,2008-01-27,"Uppal, Amita",F
20771,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F
20772,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M

<H4> Check counts for SchoolID, and then rename

In [10]:
AZ_FocusedColumns.SchoolID.value_counts().sort_index()

100       1203
150       1300
200       1325
250       1303
300       1171
350       1351
400       1037
450       1149
500       1911
550        882
600       1166
650        857
700       1031
750       1288
800        568
850        509
900       1146
950        306
1000       338
1050       435
1100       488
888100       1
888251       1
888350       1
888452       3
888500       1
888501       1
888600       1
Name: SchoolID, dtype: int64

In [11]:
transform_schoolID = {
    100:'Maricopa',
    150: 'Casa Grande',
    200: 'Queen Creek',
    250: 'Avondale',
    300: 'Chandler',
    350: 'Northwest Tucson',
    400: 'Laveen',
    450: 'Gilbert Elementary School',
    500: 'Surprise',
    550: 'North Chandler',
    600: 'Glendale',
    650: 'Peoria',
    700: 'East Mesa',
    750: 'Phoenix',
    800: 'Goodyear',
    850: 'North Phoenix',
    900: 'West Surprise',
    950: 'East Tucson',
    1000: 'Deer Valley',
    1050: 'Mesa',
    1100: 'Legacy Online Academy',
}

AZ_FocusedColumns['Institution'] = AZ_FocusedColumns['SchoolID'].map(transform_schoolID)

In [12]:
AZ_FocusedColumns.Institution.value_counts().sort_index()

Avondale                     1303
Casa Grande                  1300
Chandler                     1171
Deer Valley                   338
East Mesa                    1031
East Tucson                   306
Gilbert Elementary School    1149
Glendale                     1166
Goodyear                      568
Laveen                       1037
Legacy Online Academy         488
Maricopa                     1203
Mesa                          435
North Chandler                882
North Phoenix                 509
Northwest Tucson             1351
Peoria                        857
Phoenix                      1288
Queen Creek                  1325
Surprise                     1911
West Surprise                1146
Name: Institution, dtype: int64

In [13]:
# Check grades
AZGradesKthrough6 = AZ_FocusedColumns.loc[AZ_FocusedColumns['Grade'] <= 6]

In [14]:
AZGradesKthrough6

,SchoolID,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,DOB,Homeroom,Gender,Institution
64,100,43283743,20081035,Olson,Bailey,Bliss,6,2009-04-11,"Hardy, Charlie",F,Maricopa
238,350,41771334,70001104,Pesina,Eliana,Jesenia,6,2009-04-05,"Martinez, Kathie",F,Northwest Tucson
263,150,42334156,40001096,Lopez,Nixie,Raelyn,6,2009-08-21,"DaSilva, Leticia",F,Casa Grande
274,150,43293957,40001105,Perez,Marisol,NaN,6,2009-07-10,"Andress-Robinson, Kimberley",F,Casa Grande
278,150,43293933,40001086,Salazar,Yazzlyn,Brooke,6,2009-01-03,"DaSilva, Leticia",F,Casa Grande
...,...,...,...,...,...,...,...,...,...,...,...
20767,300,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,2014-06-02,"Crandall, Amanda",F,Chandler
20768,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M,Maricopa
20769,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F,Maricopa
20771,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F,Laveen
20772,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M,Legacy Online Academy

In [15]:
AZGradesKthrough6.reset_index(drop=True)

,SchoolID,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,DOB,Homeroom,Gender,Institution
0,100,43283743,20081035,Olson,Bailey,Bliss,6,2009-04-11,"Hardy, Charlie",F,Maricopa
1,350,41771334,70001104,Pesina,Eliana,Jesenia,6,2009-04-05,"Martinez, Kathie",F,Northwest Tucson
2,150,42334156,40001096,Lopez,Nixie,Raelyn,6,2009-08-21,"DaSilva, Leticia",F,Casa Grande
3,150,43293957,40001105,Perez,Marisol,NaN,6,2009-07-10,"Andress-Robinson, Kimberley",F,Casa Grande
4,150,43293933,40001086,Salazar,Yazzlyn,Brooke,6,2009-01-03,"DaSilva, Leticia",F,Casa Grande
...,...,...,...,...,...,...,...,...,...,...,...
17434,300,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,2014-06-02,"Crandall, Amanda",F,Chandler
17435,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M,Maricopa
17436,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F,Maricopa
17437,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F,Laveen
17438,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M,Legacy Online Academy

In [16]:
print("Student Count: ", AZGradesKthrough6.SchoolID.value_counts().sum())

Student Count:  17439

<H4> Need to change formatting for DOB MM-DD-YYYY

In [17]:
df_Kthru6_DOB = AZGradesKthrough6.copy()

In [18]:
df_Kthru6_DOB['DOB'] = pd.to_datetime(df_Kthru6_DOB.DOB)

In [19]:
df_Kthru6_DOB['format_DOB'] = df_Kthru6_DOB['DOB'].dt.strftime('%m/%d/%Y')

In [20]:
df_Kthru6_DOB

,SchoolID,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,DOB,Homeroom,Gender,Institution,format_DOB
64,100,43283743,20081035,Olson,Bailey,Bliss,6,2009-04-11,"Hardy, Charlie",F,Maricopa,04/11/2009
238,350,41771334,70001104,Pesina,Eliana,Jesenia,6,2009-04-05,"Martinez, Kathie",F,Northwest Tucson,04/05/2009
263,150,42334156,40001096,Lopez,Nixie,Raelyn,6,2009-08-21,"DaSilva, Leticia",F,Casa Grande,08/21/2009
274,150,43293957,40001105,Perez,Marisol,NaN,6,2009-07-10,"Andress-Robinson, Kimberley",F,Casa Grande,07/10/2009
278,150,43293933,40001086,Salazar,Yazzlyn,Brooke,6,2009-01-03,"DaSilva, Leticia",F,Casa Grande,01/03/2009
...,...,...,...,...,...,...,...,...,...,...,...,...
20767,300,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,2014-06-02,"Crandall, Amanda",F,Chandler,06/02/2014
20768,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M,Maricopa,08/18/2014
20769,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F,Maricopa,08/09/2012
20771,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F,Laveen,12/02/2014
20772,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M,Legacy Online Academy,04/06/2016

<H5> Add two columns: student email + suffix

In [21]:
df_Kthru6_DOB['Student_Email'] = df_Kthru6_DOB['Student_Number'].astype(str) + '@legacystudent.org'

In [22]:
df_Kthru6_DOB['Suffix'] = ''

In [23]:
df_Kthru6_DOB

,SchoolID,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,DOB,Homeroom,Gender,Institution,format_DOB,Student_Email,Suffix
64,100,43283743,20081035,Olson,Bailey,Bliss,6,2009-04-11,"Hardy, Charlie",F,Maricopa,04/11/2009,20081035@legacystudent.org,
238,350,41771334,70001104,Pesina,Eliana,Jesenia,6,2009-04-05,"Martinez, Kathie",F,Northwest Tucson,04/05/2009,70001104@legacystudent.org,
263,150,42334156,40001096,Lopez,Nixie,Raelyn,6,2009-08-21,"DaSilva, Leticia",F,Casa Grande,08/21/2009,40001096@legacystudent.org,
274,150,43293957,40001105,Perez,Marisol,NaN,6,2009-07-10,"Andress-Robinson, Kimberley",F,Casa Grande,07/10/2009,40001105@legacystudent.org,
278,150,43293933,40001086,Salazar,Yazzlyn,Brooke,6,2009-01-03,"DaSilva, Leticia",F,Casa Grande,01/03/2009,40001086@legacystudent.org,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20767,300,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,2014-06-02,"Crandall, Amanda",F,Chandler,06/02/2014,61516@legacystudent.org,
20768,100,95988856,61517,Talamantes,Juan,Anthony,1,2014-08-18,"Cardon, Kristen",M,Maricopa,08/18/2014,61517@legacystudent.org,
20769,100,17956515,61518,Talamantes,Arainna,Nikole,3,2012-08-09,"Gonzalez, Elizabeth",F,Maricopa,08/09/2012,61518@legacystudent.org,
20771,400,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,2014-12-02,"McCracken, Colten",F,Laveen,12/02/2014,61520@legacystudent.org,
20772,1100,16443122,61521,Whitford,Elijah,Michael,0,2016-04-06,"Sundby, Allison",M,Legacy Online Academy,04/06/2016,61521@legacystudent.org,

In [24]:
df_Kthru6_DOB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17439 entries, 64 to 20772
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SchoolID          17439 non-null  int64
 1   State_Student_ID  17439 non-null  int64
 2   Student_Number    17439 non-null  int64
 3   Last_Name         17439 non-null  object
 4   First_Name        17439 non-null  object
 5   Middle_Name       15660 non-null  object
 6   Grade             17439 non-null  int64
 7   DOB               17439 non-null  datetime64[ns]
 8   Homeroom          17437 non-null  object
 9   Gender            17439 non-null  object
 10  Institution       17432 non-null  object
 11  format_DOB        17439 non-null  object
 12  Student_Email     17439 non-null  object
 13  Suffix            17439 non-null  object
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 2.0+ MB

<H5> Rename necessary csv column headers now

In [25]:
df_Kthru6_DOB_test = df_Kthru6_DOB.drop(columns=['DOB','SchoolID'])

In [26]:
df_Kthru6_DOB_test

,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,Homeroom,Gender,Institution,format_DOB,Student_Email,Suffix
64,43283743,20081035,Olson,Bailey,Bliss,6,"Hardy, Charlie",F,Maricopa,04/11/2009,20081035@legacystudent.org,
238,41771334,70001104,Pesina,Eliana,Jesenia,6,"Martinez, Kathie",F,Northwest Tucson,04/05/2009,70001104@legacystudent.org,
263,42334156,40001096,Lopez,Nixie,Raelyn,6,"DaSilva, Leticia",F,Casa Grande,08/21/2009,40001096@legacystudent.org,
274,43293957,40001105,Perez,Marisol,NaN,6,"Andress-Robinson, Kimberley",F,Casa Grande,07/10/2009,40001105@legacystudent.org,
278,43293933,40001086,Salazar,Yazzlyn,Brooke,6,"DaSilva, Leticia",F,Casa Grande,01/03/2009,40001086@legacystudent.org,
...,...,...,...,...,...,...,...,...,...,...,...,...
20767,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,"Crandall, Amanda",F,Chandler,06/02/2014,61516@legacystudent.org,
20768,95988856,61517,Talamantes,Juan,Anthony,1,"Cardon, Kristen",M,Maricopa,08/18/2014,61517@legacystudent.org,
20769,17956515,61518,Talamantes,Arainna,Nikole,3,"Gonzalez, Elizabeth",F,Maricopa,08/09/2012,61518@legacystudent.org,
20771,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,"McCracken, Colten",F,Laveen,12/02/2014,61520@legacystudent.org,
20772,16443122,61521,Whitford,Elijah,Michael,0,"Sundby, Allison",M,Legacy Online Academy,04/06/2016,61521@legacystudent.org,

In [27]:
df_Kthru6_DOB_test

,State_Student_ID,Student_Number,Last_Name,First_Name,Middle_Name,Grade,Homeroom,Gender,Institution,format_DOB,Student_Email,Suffix
64,43283743,20081035,Olson,Bailey,Bliss,6,"Hardy, Charlie",F,Maricopa,04/11/2009,20081035@legacystudent.org,
238,41771334,70001104,Pesina,Eliana,Jesenia,6,"Martinez, Kathie",F,Northwest Tucson,04/05/2009,70001104@legacystudent.org,
263,42334156,40001096,Lopez,Nixie,Raelyn,6,"DaSilva, Leticia",F,Casa Grande,08/21/2009,40001096@legacystudent.org,
274,43293957,40001105,Perez,Marisol,NaN,6,"Andress-Robinson, Kimberley",F,Casa Grande,07/10/2009,40001105@legacystudent.org,
278,43293933,40001086,Salazar,Yazzlyn,Brooke,6,"DaSilva, Leticia",F,Casa Grande,01/03/2009,40001086@legacystudent.org,
...,...,...,...,...,...,...,...,...,...,...,...,...
20767,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,"Crandall, Amanda",F,Chandler,06/02/2014,61516@legacystudent.org,
20768,95988856,61517,Talamantes,Juan,Anthony,1,"Cardon, Kristen",M,Maricopa,08/18/2014,61517@legacystudent.org,
20769,17956515,61518,Talamantes,Arainna,Nikole,3,"Gonzalez, Elizabeth",F,Maricopa,08/09/2012,61518@legacystudent.org,
20771,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,"McCracken, Colten",F,Laveen,12/02/2014,61520@legacystudent.org,
20772,16443122,61521,Whitford,Elijah,Michael,0,"Sundby, Allison",M,Legacy Online Academy,04/06/2016,61521@legacystudent.org,

In [28]:
dict = {'State_Student_ID' : 'Primary Student ID (State ID)',
        'Student_Number' : 'Student ID (District ID or School ID)',
        'Last_Name' : 'LAST NAME',
        'First_Name' : 'FIRST NAME',
        'Middle_Name' : 'Middle Name',
        'format_DOB' : 'DOB',
       }
df_Kthru6_DOB_test.rename(columns=dict, inplace=True)

In [29]:
df_Kthru6_DOB_test

,Primary Student ID (State ID),Student ID (District ID or School ID),LAST NAME,FIRST NAME,Middle Name,Grade,Homeroom,Gender,Institution,DOB,Student_Email,Suffix
64,43283743,20081035,Olson,Bailey,Bliss,6,"Hardy, Charlie",F,Maricopa,04/11/2009,20081035@legacystudent.org,
238,41771334,70001104,Pesina,Eliana,Jesenia,6,"Martinez, Kathie",F,Northwest Tucson,04/05/2009,70001104@legacystudent.org,
263,42334156,40001096,Lopez,Nixie,Raelyn,6,"DaSilva, Leticia",F,Casa Grande,08/21/2009,40001096@legacystudent.org,
274,43293957,40001105,Perez,Marisol,NaN,6,"Andress-Robinson, Kimberley",F,Casa Grande,07/10/2009,40001105@legacystudent.org,
278,43293933,40001086,Salazar,Yazzlyn,Brooke,6,"DaSilva, Leticia",F,Casa Grande,01/03/2009,40001086@legacystudent.org,
...,...,...,...,...,...,...,...,...,...,...,...,...
20767,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,2,"Crandall, Amanda",F,Chandler,06/02/2014,61516@legacystudent.org,
20768,95988856,61517,Talamantes,Juan,Anthony,1,"Cardon, Kristen",M,Maricopa,08/18/2014,61517@legacystudent.org,
20769,17956515,61518,Talamantes,Arainna,Nikole,3,"Gonzalez, Elizabeth",F,Maricopa,08/09/2012,61518@legacystudent.org,
20771,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,2,"McCracken, Colten",F,Laveen,12/02/2014,61520@legacystudent.org,
20772,16443122,61521,Whitford,Elijah,Michael,0,"Sundby, Allison",M,Legacy Online Academy,04/06/2016,61521@legacystudent.org,

<H5> Create dataframe for csv

In [30]:
df_writecsv = df_Kthru6_DOB_test.loc[:, ['Institution', 'Primary Student ID (State ID)', 'Student ID (District ID or School ID)','LAST NAME','FIRST NAME','Middle Name','Suffix','Grade','Homeroom','DOB','Student_Email','Gender']]

In [31]:
df_writecsv

,Institution,Primary Student ID (State ID),Student ID (District ID or School ID),LAST NAME,FIRST NAME,Middle Name,Suffix,Grade,Homeroom,DOB,Student_Email,Gender
64,Maricopa,43283743,20081035,Olson,Bailey,Bliss,,6,"Hardy, Charlie",04/11/2009,20081035@legacystudent.org,F
238,Northwest Tucson,41771334,70001104,Pesina,Eliana,Jesenia,,6,"Martinez, Kathie",04/05/2009,70001104@legacystudent.org,F
263,Casa Grande,42334156,40001096,Lopez,Nixie,Raelyn,,6,"DaSilva, Leticia",08/21/2009,40001096@legacystudent.org,F
274,Casa Grande,43293957,40001105,Perez,Marisol,NaN,,6,"Andress-Robinson, Kimberley",07/10/2009,40001105@legacystudent.org,F
278,Casa Grande,43293933,40001086,Salazar,Yazzlyn,Brooke,,6,"DaSilva, Leticia",01/03/2009,40001086@legacystudent.org,F
...,...,...,...,...,...,...,...,...,...,...,...,...
20767,Chandler,28687147,61516,Vega-Gutierrez,Sophiya,Yxtzel,,2,"Crandall, Amanda",06/02/2014,61516@legacystudent.org,F
20768,Maricopa,95988856,61517,Talamantes,Juan,Anthony,,1,"Cardon, Kristen",08/18/2014,61517@legacystudent.org,M
20769,Maricopa,17956515,61518,Talamantes,Arainna,Nikole,,3,"Gonzalez, Elizabeth",08/09/2012,61518@legacystudent.org,F
20771,Laveen,39136631,61520,Bockarie,Jerrolyn,Guezeina Irene,,2,"McCracken, Colten",12/02/2014,61520@legacystudent.org,F
20772,Legacy Online Academy,16443122,61521,Whitford,Elijah,Michael,,0,"Sundby, Allison",04/06/2016,61521@legacystudent.org,M

In [32]:
df_writecsv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17439 entries, 64 to 20772
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Institution                            17432 non-null  object
 1   Primary Student ID (State ID)          17439 non-null  int64
 2   Student ID (District ID or School ID)  17439 non-null  int64
 3   LAST NAME                              17439 non-null  object
 4   FIRST NAME                             17439 non-null  object
 5   Middle Name                            15660 non-null  object
 6   Suffix                                 17439 non-null  object
 7   Grade                                  17439 non-null  int64
 8   Homeroom                               17437 non-null  object
 9   DOB                                    17439 non-null  object
 10  Student_Email                          17439 non-null  object
 11  Gender                                 17439 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.7+ MB

In [33]:
df_writecsv.to_csv('Legacy_Traditional_Schools_Arizona_student.csv', index=False, encoding='utf-8')