In [1]:
import pandas as pd
import numpy as np
from io import StringIO

Files needed: <br>
* Teacher_Export_IC.csv <br>
* Staff.csv <br>

Fields Required: <br>
* Institution <br>
* Primary Staff ID (State ID) <br>
* Staff ID (District ID or School ID) <br>
* LAST NAME <br> 
* FIRST NAME <br>
* Access Privileges <br> 
* User Type <br> 
* Email <br>

In [2]:
IC_Teachers = pd.read_csv("Teacher_Export_IC.csv", encoding='latin-1')

In [3]:
IC_Teachers

,schoolEmployment.schoolNumber,schoolEmployment.title,individual.lastName,individual.firstName,individual.middleName,pcontact.email,schoolEmployment.teacher,schoolEmployment.active,individual.staffNumber,schoolEmployment.schoolName,schoolEmployment.specialed,LeadFlag
0,39439,4th Grade Teacher,Aab,Tiffany,NaN,tiffany.aab@legacytraditional.org,1.0,0,910217,Legacy Traditional School Cadence,0.0,NaN
1,39440,4th Grade Teacher,Aab,Tiffany,NaN,tiffany.aab@legacytraditional.org,1.0,0,910217,Legacy Traditional School Southwest Las Vegas,0.0,NaN
2,39439,Kinder Teacher,Acharya,Sujita,NaN,sujita.acharya@legacytraditional.org,1.0,1,910874,Legacy Traditional School Cadence,0.0,NaN
3,39438,Computers Teacher,Acosta,Kamerine,NaN,kamerine.acosta@legacytraditional.org,1.0,0,910800,Legacy Traditional School North Valley,0.0,NaN
4,39440,Permanent Substitute,Adomokhai,Roselyn,I,roselyn.adomokhai@legacytraditional.org,1.0,0,910474,Legacy Traditional School Southwest Las Vegas,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
649,39438,Permanent Substitute,Wyatt,Delanesha,NaN,delanesha.wyatt@legacytraditional.org,1.0,0,910296,Legacy Traditional School North Valley,0.0,NaN
650,39439,SPED,Zamora,Michelle,NaN,michelle.zamora@legacytraditional.org,0.0,1,910770,Legacy Traditional School Cadence,1.0,NaN
651,39440,SPED SLP,Zanni,Christine,NaN,christine.zanni@legacytraditional.org,0.0,0,910561,Legacy Traditional School Southwest Las Vegas,1.0,NaN
652,39438,Permanent Substitute,Zapanti Deverikos,Angela,NaN,angela.zapantideverikos@legacytraditional.org,1.0,1,910916,Legacy Traditional School North Valley,0.0,NaN
653,39439,SPED,Zell,Karissa,NaN,kariannep18@gmail.com,1.0,0,910244,Legacy Traditional School Cadence,1.0,NaN

In [4]:
IC_Teachers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   schoolEmployment.schoolNumber  654 non-null    int64
 1   schoolEmployment.title         638 non-null    object
 2   individual.lastName            654 non-null    object
 3   individual.firstName           654 non-null    object
 4   individual.middleName          147 non-null    object
 5   pcontact.email                 654 non-null    object
 6   schoolEmployment.teacher       653 non-null    float64
 7   schoolEmployment.active        654 non-null    int64
 8   individual.staffNumber         654 non-null    int64
 9   schoolEmployment.schoolName    654 non-null    object
 10  schoolEmployment.specialed     628 non-null    float64
 11  LeadFlag                       53 non-null     float64
dtypes: float64(3), int64(3), object(6)
memory usage: 61.4+ KB

In [5]:
IC_ActiveTeachers = IC_Teachers.loc[(IC_Teachers["individual.lastName"] == 'Bradshaw')]

In [6]:
IC_ActiveTeachers

,schoolEmployment.schoolNumber,schoolEmployment.title,individual.lastName,individual.firstName,individual.middleName,pcontact.email,schoolEmployment.teacher,schoolEmployment.active,individual.staffNumber,schoolEmployment.schoolName,schoolEmployment.specialed,LeadFlag
53,39438,SPED,Bradshaw,Linda,J,linda.bradshaw@legacytraditional.org,1.0,0,910871,Legacy Traditional School North Valley,1.0,NaN
54,39439,SPED,Bradshaw,Linda,J,linda.bradshaw@legacytraditional.org,1.0,1,910871,Legacy Traditional School Cadence,1.0,NaN
55,39440,SPED,Bradshaw,Matthew,NaN,matthew.bradshaw@legacytraditional.org,1.0,0,910973,Legacy Traditional School Southwest Las Vegas,1.0,NaN

In [7]:
IC_ActiveTeachers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 53 to 55
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   schoolEmployment.schoolNumber  3 non-null      int64
 1   schoolEmployment.title         3 non-null      object
 2   individual.lastName            3 non-null      object
 3   individual.firstName           3 non-null      object
 4   individual.middleName          2 non-null      object
 5   pcontact.email                 3 non-null      object
 6   schoolEmployment.teacher       3 non-null      float64
 7   schoolEmployment.active        3 non-null      int64
 8   individual.staffNumber         3 non-null      int64
 9   schoolEmployment.schoolName    3 non-null      object
 10  schoolEmployment.specialed     3 non-null      float64
 11  LeadFlag                       0 non-null      float64
dtypes: float64(3), int64(3), object(6)
memory usage: 312.0+ bytes

In [8]:
IC_Teachers_NotNull = IC_ActiveTeachers.dropna(subset=['schoolEmployment.title'])

In [9]:
IC_Teachers_NotNull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 53 to 55
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   schoolEmployment.schoolNumber  3 non-null      int64
 1   schoolEmployment.title         3 non-null      object
 2   individual.lastName            3 non-null      object
 3   individual.firstName           3 non-null      object
 4   individual.middleName          2 non-null      object
 5   pcontact.email                 3 non-null      object
 6   schoolEmployment.teacher       3 non-null      float64
 7   schoolEmployment.active        3 non-null      int64
 8   individual.staffNumber         3 non-null      int64
 9   schoolEmployment.schoolName    3 non-null      object
 10  schoolEmployment.specialed     3 non-null      float64
 11  LeadFlag                       0 non-null      float64
dtypes: float64(3), int64(3), object(6)
memory usage: 312.0+ bytes

In [10]:
IC_Teachers_NotNull

,schoolEmployment.schoolNumber,schoolEmployment.title,individual.lastName,individual.firstName,individual.middleName,pcontact.email,schoolEmployment.teacher,schoolEmployment.active,individual.staffNumber,schoolEmployment.schoolName,schoolEmployment.specialed,LeadFlag
53,39438,SPED,Bradshaw,Linda,J,linda.bradshaw@legacytraditional.org,1.0,0,910871,Legacy Traditional School North Valley,1.0,NaN
54,39439,SPED,Bradshaw,Linda,J,linda.bradshaw@legacytraditional.org,1.0,1,910871,Legacy Traditional School Cadence,1.0,NaN
55,39440,SPED,Bradshaw,Matthew,NaN,matthew.bradshaw@legacytraditional.org,1.0,0,910973,Legacy Traditional School Southwest Las Vegas,1.0,NaN

# Pull All Admin that need mClass access
Creating an mClass staff file with the following permissions:

Principals - Full <br>
Assistant Principals - Full <br>
Teacher on Assignment - Full<br>
Instructional Coaches - Full<br>
Reading Specialists - Full<br>
Teachers - Standard<br>
SPED Teachers - Full<br>

In [11]:
Teacher_Coach = IC_Teachers_NotNull.loc[IC_Teachers_NotNull['schoolEmployment.title'].str.contains("Coach", case = False)]

In [12]:
Teacher_Coach

Empty DataFrame
Columns: [schoolEmployment.schoolNumber, schoolEmployment.title, individual.lastName, individual.firstName, individual.middleName, pcontact.email, schoolEmployment.teacher, schoolEmployment.active, individual.staffNumber, schoolEmployment.schoolName, schoolEmployment.specialed, LeadFlag]
Index: []

In [13]:
IC_Staff = pd.read_csv("Staff.csv", encoding='latin-1')

In [14]:
IC_Staff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879 entries, 0 to 878
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   School Number        879 non-null    int64
 1   Staff Number         879 non-null    int64
 2   Last Name            879 non-null    object
 3   First Name           879 non-null    object
 4   Gender               879 non-null    object
 5   DOB                  801 non-null    object
 6   Title                839 non-null    object
 7   Start Date           879 non-null    object
 8   End Date             373 non-null    object
 9   email                877 non-null    object
 10  Expires              30 non-null     object
 11  LeadFlag             41 non-null     float64
 12  individual.personID  879 non-null    int64
dtypes: float64(1), int64(3), object(9)
memory usage: 89.4+ KB

In [15]:
IC_Staff

,School Number,Staff Number,Last Name,First Name,Gender,DOB,Title,Start Date,End Date,email,Expires,LeadFlag,individual.personID
0,39438,910121,Aguilar,Melissa,F,10/05/1981,Paraprofessional,08/16/2017,04/22/2018,melissa.aguilar@legacytraditional.org,NaN,NaN,5382
1,39438,910121,Aguilar,Melissa,F,10/05/1981,Registrar,04/23/2018,05/23/2020,melissa.aguilar@legacytraditional.org,NaN,NaN,5382
2,39438,910531,Al Saeedi,Mohammed,M,NaN,JH Math Teacher,07/29/2019,NaN,mohammed.alsaeedi@legacytraditional.org,NaN,NaN,27060
3,39438,910137,Aldan,Andrena,F,07/07/1991,Aide,11/01/2017,04/23/2018,andrena.aldan@legacytraditional.org,NaN,NaN,6993
4,39438,910137,Aldan,Andrena,F,07/07/1991,Paraprofessional,06/20/2018,NaN,andrena.aldan@legacytraditional.org,NaN,NaN,6993
...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,39440,910812,Wiseman,Melanie,F,08/08/1964,Permanent Substitute,02/08/2021,NaN,melanie.wiseman@legacytraditional.org,NaN,NaN,35574
875,39440,910854,Woolrich,Chelsea,F,10/16/1979,Kinder Teacher,07/18/2021,NaN,chelsea.woolrich@legacytraditional.org,NaN,NaN,37590
876,39440,910244,Zell,Karissa,F,12/18/1988,Assistant Principal,08/13/2020,06/01/2021,kariannep18@gmail.com,NaN,NaN,15173
877,39440,910520,Zielke,Kristy,F,09/02/1978,Aide,07/31/2019,08/12/2019,kristy.zielke@legacytraditional.org,NaN,NaN,27068
878,39440,910520,Zielke,Kristy,F,09/02/1978,Paraprofessional,08/12/2019,NaN,kristy.zielke@legacytraditional.org,NaN,NaN,27068

# Figuring out ActiveStaff for Staff.csv
<H5> Distinct values for Not Null vs Null End Date

In [16]:
# Staff with end date: 504
# Staff without end date: 367
# Staff with no end date but an expires date: 35

In [17]:
IC_Staff.notnull().sum()

School Number          879
Staff Number           879
Last Name              879
First Name             879
Gender                 879
DOB                    801
Title                  839
Start Date             879
End Date               373
email                  877
Expires                 30
LeadFlag                41
individual.personID    879
dtype: int64

In [18]:
IC_Staff.isnull().sum()

School Number            0
Staff Number             0
Last Name                0
First Name               0
Gender                   0
DOB                     78
Title                   40
Start Date               0
End Date               506
email                    2
Expires                849
LeadFlag               838
individual.personID      0
dtype: int64

In [19]:
# THIS WORKS THIS WORKS THIS WORKS!!!
IC_Active_Staff = IC_Staff[IC_Staff['End Date'].isna()]

In [20]:
IC_Active_Staff

,School Number,Staff Number,Last Name,First Name,Gender,DOB,Title,Start Date,End Date,email,Expires,LeadFlag,individual.personID
2,39438,910531,Al Saeedi,Mohammed,M,NaN,JH Math Teacher,07/29/2019,NaN,mohammed.alsaeedi@legacytraditional.org,NaN,NaN,27060
4,39438,910137,Aldan,Andrena,F,07/07/1991,Paraprofessional,06/20/2018,NaN,andrena.aldan@legacytraditional.org,NaN,NaN,6993
6,39438,910751,Allen,Krisanne,F,05/08/1980,SPED SLP,08/10/2020,NaN,krisanne.allen@legacytraditional.org,NaN,NaN,32698
7,39438,910394,Allums,Anthony,M,11/28/1973,Custodian,07/01/2019,NaN,anthony.allums@legacytraditional.org,NaN,NaN,26586
8,39438,910572,Allums,Teresa,F,06/22/1982,LKC,09/09/2019,NaN,teresa.allums@legacytraditional.org,NaN,NaN,10635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,39440,910794,Wilds-Hassler,April,F,03/30/1981,Gifted Teacher,12/07/2020,NaN,april.wildshassler@legacytraditional.org,NaN,1.0,33885
873,39440,911008,Wines,James,M,04/19/1989,6th Grade Teacher,02/08/2022,NaN,james.wines@legacytraditional.org,NaN,NaN,40890
874,39440,910812,Wiseman,Melanie,F,08/08/1964,Permanent Substitute,02/08/2021,NaN,melanie.wiseman@legacytraditional.org,NaN,NaN,35574
875,39440,910854,Woolrich,Chelsea,F,10/16/1979,Kinder Teacher,07/18/2021,NaN,chelsea.woolrich@legacytraditional.org,NaN,NaN,37590
878,39440,910520,Zielke,Kristy,F,09/02/1978,Paraprofessional,08/12/2019,NaN,kristy.zielke@legacytraditional.org,NaN,NaN,27068

In [21]:
IC_Active_Staff.to_csv('NV_Staff_Beta.csv', index=False, encoding='utf-8')

In [22]:
IC_Active_Staff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 2 to 878
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   School Number        506 non-null    int64
 1   Staff Number         506 non-null    int64
 2   Last Name            506 non-null    object
 3   First Name           506 non-null    object
 4   Gender               506 non-null    object
 5   DOB                  453 non-null    object
 6   Title                470 non-null    object
 7   Start Date           506 non-null    object
 8   End Date             0 non-null      object
 9   email                506 non-null    object
 10  Expires              4 non-null      object
 11  LeadFlag             31 non-null     float64
 12  individual.personID  506 non-null    int64
dtypes: float64(1), int64(3), object(9)
memory usage: 55.3+ KB

In [23]:
# Drop null titles
IC_Active = IC_Active_Staff.dropna(subset=['Title'])

In [24]:
IC_Active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470 entries, 2 to 878
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   School Number        470 non-null    int64
 1   Staff Number         470 non-null    int64
 2   Last Name            470 non-null    object
 3   First Name           470 non-null    object
 4   Gender               470 non-null    object
 5   DOB                  432 non-null    object
 6   Title                470 non-null    object
 7   Start Date           470 non-null    object
 8   End Date             0 non-null      object
 9   email                470 non-null    object
 10  Expires              4 non-null      object
 11  LeadFlag             31 non-null     float64
 12  individual.personID  470 non-null    int64
dtypes: float64(1), int64(3), object(9)
memory usage: 51.4+ KB

In [25]:
# Now filtering only for the fields we need: <br>
NV_Staff_File_Fields = IC_Active.filter(['School Number','Staff Number', 'Last Name', 'First Name', 'Title', 'email'])

Creating an mClass staff file with the following permissions:<br>
<br>
Principals - Full<br>
Assistant Principals - Full<br>
Teacher on Assignment - Full<br>
Instructional Coaches - Full<br>
Reading Specialists - Full<br>
Teachers - Standard<br>
SPED Teachers - Full<br>
<br>
Staff_Principals["User Type"] = "School Administrator" <br>
Staff_Principals["Access Privileges"] = "Full" <br>

<H4> Keeping track of Role based dataframes: <br>
    * Staff_File_Principals- 8 records <br>
    * Staff_File_TOA - 0 records <br>
    * Staff_File_IC - 2 records <br>
    * Staff_File_ReadingSpecialist - 0 records <br>
    * Staff_File_Sped - 55 records <br> 
    * Staff_File_Teachers - 173 records <br>

In [26]:
NV_Staff_File_Fields.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470 entries, 2 to 878
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   School Number  470 non-null    int64
 1   Staff Number   470 non-null    int64
 2   Last Name      470 non-null    object
 3   First Name     470 non-null    object
 4   Title          470 non-null    object
 5   email          470 non-null    object
dtypes: int64(2), object(4)
memory usage: 25.7+ KB

In [27]:
Staff_File_Principals = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("Principal", case = False)]

In [28]:
# The Staff file has the Principals from the teacher file

In [29]:
Staff_File_Principals

,School Number,Staff Number,Last Name,First Name,Title,email
120,39438,910718,Green,Angie,Assistant Principal,angie.green@legacytraditional.org
494,39439,910166,McLeod,Cynthia,Principal,cindy.mcleod@legacytraditional.org
813,39440,911009,Rothstein,Alia,Assistant Principal,alia.rothstein@legacytraditional.org
821,39440,910374,Schroeder,Tracy,Assistant Principal,tracy.schroeder@legacytraditional.org

<H5> SCHOOL ADMINISTRATOR VS SYSTEM ADMINISTRATOR

In [30]:

Staff_File_Principals["User Type"] = "System Administrator"
Staff_File_Principals["Access Privileges"] = "Full"

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/2367856639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Principals["User Type"] = "System Administrator"
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/2367856639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Principals["Access Privileges"] = "Full"

In [31]:
Staff_File_Principals

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges
120,39438,910718,Green,Angie,Assistant Principal,angie.green@legacytraditional.org,System Administrator,Full
494,39439,910166,McLeod,Cynthia,Principal,cindy.mcleod@legacytraditional.org,System Administrator,Full
813,39440,911009,Rothstein,Alia,Assistant Principal,alia.rothstein@legacytraditional.org,System Administrator,Full
821,39440,910374,Schroeder,Tracy,Assistant Principal,tracy.schroeder@legacytraditional.org,System Administrator,Full

In [32]:
Staff_File_TOA = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("Assignment", case = False)]

In [33]:
Staff_File_TOA

Empty DataFrame
Columns: [School Number, Staff Number, Last Name, First Name, Title, email]
Index: []

In [34]:
Staff_File_TOA["User Type"] = "School Administrator"
Staff_File_TOA["Access Privileges"] = "Full"

In [35]:
Staff_File_TOA

Empty DataFrame
Columns: [School Number, Staff Number, Last Name, First Name, Title, email, User Type, Access Privileges]
Index: []

In [36]:
Staff_File_IC = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("Instructional Coach", case = False)]

In [37]:
Staff_File_IC

,School Number,Staff Number,Last Name,First Name,Title,email
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org
698,39440,910447,Frank,Callie,Instructional Coach,callie.frank@legacytraditional.org

In [38]:
Staff_File_Coach = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("Coach", case = False)]

In [39]:
Staff_File_Coach

,School Number,Staff Number,Last Name,First Name,Title,email
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org
35,39438,910654,Burgess,Nathalie,Leadership Coach,nathalie.burgess@legacytraditional.org
356,39439,910654,Burgess,Nathalie,Leadership Coach,nathalie.burgess@legacytraditional.org
653,39440,910654,Burgess,Nathalie,Leadership Coach,nathalie.burgess@legacytraditional.org
698,39440,910447,Frank,Callie,Instructional Coach,callie.frank@legacytraditional.org

In [40]:
Staff_File_IC["User Type"] = "Specialist"
Staff_File_IC["Access Privileges"] = "System Access"

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/2044085373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_IC["User Type"] = "Specialist"
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/2044085373.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_IC["Access Privileges"] = "System Access"

In [41]:
Staff_File_IC

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org,Specialist,System Access
698,39440,910447,Frank,Callie,Instructional Coach,callie.frank@legacytraditional.org,Specialist,System Access

In [42]:
Staff_File_ReadingSpecialist = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("Specialist", case = False)]

In [43]:
Staff_File_ReadingSpecialist["User Type"] = "Specialist"
Staff_File_ReadingSpecialist["Access Privileges"] = "System Access"

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/1502701647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_ReadingSpecialist["User Type"] = "Specialist"
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/1502701647.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_ReadingSpecialist["Access Privileges"] = "System Access"

In [44]:
Staff_File_ReadingSpecialist

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges
745,39440,910481,Malendres,Tabitha,EL Specialist,tabitha.malendres@legacytraditional.org,Specialist,System Access

In [45]:
Staff_File_Sped = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("sped", case = False)]

In [46]:
Staff_File_Sped["User Type"] = "Specialist"
Staff_File_Sped["Access Privileges"] = "System Access"

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/749151682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Sped["User Type"] = "Specialist"
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/749151682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Sped["Access Privileges"] = "System Access"

In [47]:
Staff_File_Sped

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges
6,39438,910751,Allen,Krisanne,SPED SLP,krisanne.allen@legacytraditional.org,Specialist,System Access
12,39438,910134,Arrubla,Ligia,SPED,ligia.arrubla@legacytraditional.org,Specialist,System Access
13,39438,910730,Avila,Dasiree,SPED,dasiree.avila@legacytraditional.org,Specialist,System Access
20,39438,910266,Bishop,Carol,SPED SLP,carol.bishop@legacytraditional.org,Specialist,System Access
25,39438,910564,Boyette,Amy,SPED,amy.boyette@legacytraditional.org,Specialist,System Access
...,...,...,...,...,...,...,...,...
732,39440,911029,King,Lauren,SPED SLP,lauren.king@legacytraditional.org,Specialist,System Access
754,39440,910946,McGee,Denise,SPED,Denise.mcgee@legacytraditional.org,Specialist,System Access
820,39440,910801,Schramm,Kyle,SPED,kyle.schramm@legacytraditional.org,Specialist,System Access
838,39440,910747,Strenn,Britney,SPED,britney.strenn@legacytraditional.org,Specialist,System Access
840,39440,911034,Stroud,LaTatia,SPED,latatia.stroud@legacytraditional.org,Specialist,System Access

In [48]:
Staff_File_Teachers = NV_Staff_File_Fields.loc[NV_Staff_File_Fields['Title'].str.contains("teacher", case = False)]

In [49]:
Staff_File_Teachers

,School Number,Staff Number,Last Name,First Name,Title,email
2,39438,910531,Al Saeedi,Mohammed,JH Math Teacher,mohammed.alsaeedi@legacytraditional.org
15,39438,910094,Beers,Kimberly,3rd Grade Teacher,kimberly.beers@legacytraditional.org
23,39438,910423,Booker,Jovon,Computers Teacher,jovon.booker@legacytraditional.org
24,39438,910661,Boydston,Bryce,Music Teacher,bryce.boydston@legacytraditional.org
34,39438,910259,Budo,Tami,1st Grade Teacher,tami.budo@legacytraditional.org
...,...,...,...,...,...,...
867,39440,910530,Waters,Nichalos,Music Teacher,nick.waters@legacytraditional.org
870,39440,910197,White,Karen,Gifted Teacher,karen.white@legacytraditional.org
871,39440,910794,Wilds-Hassler,April,Gifted Teacher,april.wildshassler@legacytraditional.org
873,39440,911008,Wines,James,6th Grade Teacher,james.wines@legacytraditional.org
875,39440,910854,Woolrich,Chelsea,Kinder Teacher,chelsea.woolrich@legacytraditional.org

In [50]:
Staff_File_Teachers['Access Privileges'] = 'Standard'
Staff_File_Teachers['User Type'] = 'Teacher'

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/1686695319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Teachers['Access Privileges'] = 'Standard'
C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_37000/1686695319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Staff_File_Teachers['User Type'] = 'Teacher'

In [51]:
# Append 'em all together

<H4> Keeping track of Role based dataframes: <br>
    * Staff_File_Principals- 8 records <br>
    * Staff_File_TOA - 0 records <br>
    * Staff_File_IC - 2 records <br>
    * Staff_File_ReadingSpecialist - 0 records <br>
    * Staff_File_Sped - 55 records <br> 
    * Staff_File_Teachers - 173 records <br>

In [52]:
df_Final = Staff_File_Principals.append(Staff_File_TOA)
df_Final = df_Final.append(Staff_File_IC)
df_Final = df_Final.append(Staff_File_ReadingSpecialist)
df_Final = df_Final.append(Staff_File_Sped)
df_Final = df_Final.append(Staff_File_Teachers)

In [53]:
df_Final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 120 to 875
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   School Number      239 non-null    int64
 1   Staff Number       239 non-null    int64
 2   Last Name          239 non-null    object
 3   First Name         239 non-null    object
 4   Title              239 non-null    object
 5   email              239 non-null    object
 6   User Type          239 non-null    object
 7   Access Privileges  239 non-null    object
dtypes: int64(2), object(6)
memory usage: 16.8+ KB

In [54]:
df_Final

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges
120,39438,910718,Green,Angie,Assistant Principal,angie.green@legacytraditional.org,System Administrator,Full
494,39439,910166,McLeod,Cynthia,Principal,cindy.mcleod@legacytraditional.org,System Administrator,Full
813,39440,911009,Rothstein,Alia,Assistant Principal,alia.rothstein@legacytraditional.org,System Administrator,Full
821,39440,910374,Schroeder,Tracy,Assistant Principal,tracy.schroeder@legacytraditional.org,System Administrator,Full
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org,Specialist,System Access
...,...,...,...,...,...,...,...,...
867,39440,910530,Waters,Nichalos,Music Teacher,nick.waters@legacytraditional.org,Teacher,Standard
870,39440,910197,White,Karen,Gifted Teacher,karen.white@legacytraditional.org,Teacher,Standard
871,39440,910794,Wilds-Hassler,April,Gifted Teacher,april.wildshassler@legacytraditional.org,Teacher,Standard
873,39440,911008,Wines,James,6th Grade Teacher,james.wines@legacytraditional.org,Teacher,Standard
875,39440,910854,Woolrich,Chelsea,Kinder Teacher,chelsea.woolrich@legacytraditional.org,Teacher,Standard

In [55]:
# Add institution name
# Change School ID to Institution
transform_schoolID = {
    39438: 'North Valley',
    39439: 'Cadence',
    39440: 'Southwest Las Vegas'
}

df_Final['Institution'] = df_Final['School Number'].map(transform_schoolID)

In [56]:
df_Final

,School Number,Staff Number,Last Name,First Name,Title,email,User Type,Access Privileges,Institution
120,39438,910718,Green,Angie,Assistant Principal,angie.green@legacytraditional.org,System Administrator,Full,North Valley
494,39439,910166,McLeod,Cynthia,Principal,cindy.mcleod@legacytraditional.org,System Administrator,Full,Cadence
813,39440,911009,Rothstein,Alia,Assistant Principal,alia.rothstein@legacytraditional.org,System Administrator,Full,Southwest Las Vegas
821,39440,910374,Schroeder,Tracy,Assistant Principal,tracy.schroeder@legacytraditional.org,System Administrator,Full,Southwest Las Vegas
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org,Specialist,System Access,North Valley
...,...,...,...,...,...,...,...,...,...
867,39440,910530,Waters,Nichalos,Music Teacher,nick.waters@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
870,39440,910197,White,Karen,Gifted Teacher,karen.white@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
871,39440,910794,Wilds-Hassler,April,Gifted Teacher,april.wildshassler@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
873,39440,911008,Wines,James,6th Grade Teacher,james.wines@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
875,39440,910854,Woolrich,Chelsea,Kinder Teacher,chelsea.woolrich@legacytraditional.org,Teacher,Standard,Southwest Las Vegas

In [57]:
df_Final.rename(columns = {'Staff Number': 'Primary Staff ID (State ID)', 'Last Name': 'LAST NAME', 'First Name': 'FIRST NAME', 'email': 'Email'}, inplace=True)

In [58]:
df_Final

,School Number,Primary Staff ID (State ID),LAST NAME,FIRST NAME,Title,Email,User Type,Access Privileges,Institution
120,39438,910718,Green,Angie,Assistant Principal,angie.green@legacytraditional.org,System Administrator,Full,North Valley
494,39439,910166,McLeod,Cynthia,Principal,cindy.mcleod@legacytraditional.org,System Administrator,Full,Cadence
813,39440,911009,Rothstein,Alia,Assistant Principal,alia.rothstein@legacytraditional.org,System Administrator,Full,Southwest Las Vegas
821,39440,910374,Schroeder,Tracy,Assistant Principal,tracy.schroeder@legacytraditional.org,System Administrator,Full,Southwest Las Vegas
29,39438,910036,Brady,Samantha,Instructional Coach,samantha.brady@legacytraditional.org,Specialist,System Access,North Valley
...,...,...,...,...,...,...,...,...,...
867,39440,910530,Waters,Nichalos,Music Teacher,nick.waters@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
870,39440,910197,White,Karen,Gifted Teacher,karen.white@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
871,39440,910794,Wilds-Hassler,April,Gifted Teacher,april.wildshassler@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
873,39440,911008,Wines,James,6th Grade Teacher,james.wines@legacytraditional.org,Teacher,Standard,Southwest Las Vegas
875,39440,910854,Woolrich,Chelsea,Kinder Teacher,chelsea.woolrich@legacytraditional.org,Teacher,Standard,Southwest Las Vegas

In [59]:
df_Final['Staff ID (District ID or School ID)'] = ''

In [60]:
df_NV_StaffCSV = df_Final[["Institution", "Primary Staff ID (State ID)", "Staff ID (District ID or School ID)","LAST NAME","FIRST NAME","Access Privileges","User Type","Email"]]

In [61]:
df_NV_StaffCSV

,Institution,Primary Staff ID (State ID),Staff ID (District ID or School ID),LAST NAME,FIRST NAME,Access Privileges,User Type,Email
120,North Valley,910718,,Green,Angie,Full,System Administrator,angie.green@legacytraditional.org
494,Cadence,910166,,McLeod,Cynthia,Full,System Administrator,cindy.mcleod@legacytraditional.org
813,Southwest Las Vegas,911009,,Rothstein,Alia,Full,System Administrator,alia.rothstein@legacytraditional.org
821,Southwest Las Vegas,910374,,Schroeder,Tracy,Full,System Administrator,tracy.schroeder@legacytraditional.org
29,North Valley,910036,,Brady,Samantha,System Access,Specialist,samantha.brady@legacytraditional.org
...,...,...,...,...,...,...,...,...
867,Southwest Las Vegas,910530,,Waters,Nichalos,Standard,Teacher,nick.waters@legacytraditional.org
870,Southwest Las Vegas,910197,,White,Karen,Standard,Teacher,karen.white@legacytraditional.org
871,Southwest Las Vegas,910794,,Wilds-Hassler,April,Standard,Teacher,april.wildshassler@legacytraditional.org
873,Southwest Las Vegas,911008,,Wines,James,Standard,Teacher,james.wines@legacytraditional.org
875,Southwest Las Vegas,910854,,Woolrich,Chelsea,Standard,Teacher,chelsea.woolrich@legacytraditional.org

In [62]:
df_NV_StaffCSV.to_csv('Legacy_Traditional_Schools_Nevada_staff.csv', index=False, encoding='utf-8')