In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [2]:
AZ_Teachers = pd.read_csv("Staff-Export.csv", encoding='latin-1')

In [3]:
AZ_Teachers

,TEACHERS.SchoolID,TEACHERS.TeacherNumber,TEACHERS.Last_Name,TEACHERS.First_Name,TEACHERS.Middle_Name,TEACHERS.Email_Addr,TEACHERS.Title,TEACHERS.Status,Staff_Code,TEACHERS.dcid
0,0,kmck,McKinstry,Kathy,NaN,kathy.mckinstry@pearson.com,NaN,2,1,1
1,0,9000,Vierkoetter,Elizabeth,NaN,liz.vierkoetter@vertexeducation.com,Executive Assistant,1,2,2
2,0,9001,Adams,Brandi,M,brandi.adams@legacytraditional.org,School Support Systems VP,2,51,51
3,0,1001,Hackett,Janisha,NaN,janisha.hackett@legacytraditional.org,Human Resources Director,2,101,101
4,250,1,Moss,Chelsea,NaN,NaN,NaN,2,102,102
...,...,...,...,...,...,...,...,...,...,...
8853,350,9013,Del Cueto,Zulma,NaN,zulma.delcueto@legacytraditional.org,Aide,1,16262,17514
8854,750,9014,Ford,Timothy,NaN,timothy.ford@legacytraditional.org,Permanent Substitute,1,16263,17515
8855,0,9015,Reinert,Kristin,NaN,kristin.reinert@vertexeducation.com,HR Manager,1,16264,17516
8856,1050,9011,Person,Wendy,NaN,wendy.person@legacytraditional.org,SPED Teacher,1,16260,17517
8857,600,9016,Franklin,Jessica,NaN,jessica.franklin@legacytraditional.org,SPED SLP (Contractor),1,16265,17518

In [4]:
AZ_Teachers['TEACHERS.Status'].value_counts()

2    4949
1    2766
0    1143
Name: TEACHERS.Status, dtype: int64

In [5]:
# Only active Teachers
AZ_ActiveTeachers = AZ_Teachers.loc[(AZ_Teachers["TEACHERS.Status"] == 1)]

In [6]:
# Drop null rows
AZ_ActiveTeachers = AZ_ActiveTeachers.dropna(subset=['TEACHERS.Title'])

In [7]:
AZ_ActiveTeachers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2755 entries, 1 to 8857
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TEACHERS.SchoolID       2755 non-null   int64
 1   TEACHERS.TeacherNumber  2755 non-null   object
 2   TEACHERS.Last_Name      2755 non-null   object
 3   TEACHERS.First_Name     2755 non-null   object
 4   TEACHERS.Middle_Name    173 non-null    object
 5   TEACHERS.Email_Addr     2722 non-null   object
 6   TEACHERS.Title          2755 non-null   object
 7   TEACHERS.Status         2755 non-null   int64
 8   Staff_Code              2755 non-null   int64
 9   TEACHERS.dcid           2755 non-null   int64
dtypes: int64(4), object(6)
memory usage: 236.8+ KB

In [8]:
AZ_RawStaff = AZ_ActiveTeachers[['TEACHERS.SchoolID','TEACHERS.TeacherNumber','TEACHERS.Email_Addr','TEACHERS.First_Name','TEACHERS.Last_Name','TEACHERS.Title']]

In [9]:
AZ_RawStaff

,TEACHERS.SchoolID,TEACHERS.TeacherNumber,TEACHERS.Email_Addr,TEACHERS.First_Name,TEACHERS.Last_Name,TEACHERS.Title
1,0,9000,liz.vierkoetter@vertexeducation.com,Elizabeth,Vierkoetter,Executive Assistant
8,100,1007,Malika.Khaaliq@legacytraditional.org,Malika,Khaaliq,Kinder Teacher
12,100,1011,Cheryl.Cardinal@legacytraditional.org,Cheryl,Cardinal,4th Grade Teacher
14,100,1013,Shawna.Bennett@legacytraditional.org,Shawna,Bennett,5th Grade Teacher
15,100,1014,cambria.brownfield@legacytraditional.org,Cambria,Brownfield,JH Eng/Lit Teacher
...,...,...,...,...,...,...
8853,350,9013,zulma.delcueto@legacytraditional.org,Zulma,Del Cueto,Aide
8854,750,9014,timothy.ford@legacytraditional.org,Timothy,Ford,Permanent Substitute
8855,0,9015,kristin.reinert@vertexeducation.com,Kristin,Reinert,HR Manager
8856,1050,9011,wendy.person@legacytraditional.org,Wendy,Person,SPED Teacher
8857,600,9016,jessica.franklin@legacytraditional.org,Jessica,Franklin,SPED SLP (Contractor)

<H4> Username is '1_' + TeacherNumber/Staff_ID, <br>
    Password is 'TeacherNumber' + 'Legacy!2021' (for now) <br>
    Role depends on Teacher (STL for Instructional Coaches) <br>
    ...+ 2 extra data fields

In [10]:
AZ_RawStaff.rename(columns={'TEACHERS.SchoolID': 'School_id', 'TEACHERS.TeacherNumber': 'Staff_id', 'TEACHERS.Email_Addr': 'Staff_email', 'TEACHERS.First_Name': 'First_name', 'STUDENTS.First_Name': 'First_Name', 'TEACHERS.Last_Name': 'Last_name', 'TEACHERS.Title': 'Title'}, inplace=True)

C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [11]:
AZ_RawStaff

,School_id,Staff_id,Staff_email,First_name,Last_name,Title
1,0,9000,liz.vierkoetter@vertexeducation.com,Elizabeth,Vierkoetter,Executive Assistant
8,100,1007,Malika.Khaaliq@legacytraditional.org,Malika,Khaaliq,Kinder Teacher
12,100,1011,Cheryl.Cardinal@legacytraditional.org,Cheryl,Cardinal,4th Grade Teacher
14,100,1013,Shawna.Bennett@legacytraditional.org,Shawna,Bennett,5th Grade Teacher
15,100,1014,cambria.brownfield@legacytraditional.org,Cambria,Brownfield,JH Eng/Lit Teacher
...,...,...,...,...,...,...
8853,350,9013,zulma.delcueto@legacytraditional.org,Zulma,Del Cueto,Aide
8854,750,9014,timothy.ford@legacytraditional.org,Timothy,Ford,Permanent Substitute
8855,0,9015,kristin.reinert@vertexeducation.com,Kristin,Reinert,HR Manager
8856,1050,9011,wendy.person@legacytraditional.org,Wendy,Person,SPED Teacher
8857,600,9016,jessica.franklin@legacytraditional.org,Jessica,Franklin,SPED SLP (Contractor)

In [12]:
AZ_RawStaff['Username'] = '1_' + AZ_RawStaff['Staff_id'].astype(str)

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_23492/3257977958.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AZ_RawStaff['Username'] = '1_' + AZ_RawStaff['Staff_id'].astype(str)

In [13]:
AZ_RawStaff['Password'] = AZ_RawStaff['Staff_id'].astype(str) + 'Legacy!2022'

C:\Users\LAUREN~1.GOL\AppData\Local\Temp/ipykernel_23492/4047604402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AZ_RawStaff['Password'] = AZ_RawStaff['Staff_id'].astype(str) + 'Legacy!2022'

In [14]:
AZ_RawStaff

,School_id,Staff_id,Staff_email,First_name,Last_name,Title,Username,Password
1,0,9000,liz.vierkoetter@vertexeducation.com,Elizabeth,Vierkoetter,Executive Assistant,1_9000,9000Legacy!2022
8,100,1007,Malika.Khaaliq@legacytraditional.org,Malika,Khaaliq,Kinder Teacher,1_1007,1007Legacy!2022
12,100,1011,Cheryl.Cardinal@legacytraditional.org,Cheryl,Cardinal,4th Grade Teacher,1_1011,1011Legacy!2022
14,100,1013,Shawna.Bennett@legacytraditional.org,Shawna,Bennett,5th Grade Teacher,1_1013,1013Legacy!2022
15,100,1014,cambria.brownfield@legacytraditional.org,Cambria,Brownfield,JH Eng/Lit Teacher,1_1014,1014Legacy!2022
...,...,...,...,...,...,...,...,...
8853,350,9013,zulma.delcueto@legacytraditional.org,Zulma,Del Cueto,Aide,1_9013,9013Legacy!2022
8854,750,9014,timothy.ford@legacytraditional.org,Timothy,Ford,Permanent Substitute,1_9014,9014Legacy!2022
8855,0,9015,kristin.reinert@vertexeducation.com,Kristin,Reinert,HR Manager,1_9015,9015Legacy!2022
8856,1050,9011,wendy.person@legacytraditional.org,Wendy,Person,SPED Teacher,1_9011,9011Legacy!2022
8857,600,9016,jessica.franklin@legacytraditional.org,Jessica,Franklin,SPED SLP (Contractor),1_9016,9016Legacy!2022

<H4> Last Three Columns: <br> 
    * Role: STL for all specific roles <br>
    * ext.emp_staff_username and ext.vertexEmp<br>

In [15]:
# Just insert "Role = STL" if has this title

In [16]:
AZ_RawStaff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2755 entries, 1 to 8857
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School_id    2755 non-null   int64
 1   Staff_id     2755 non-null   object
 2   Staff_email  2722 non-null   object
 3   First_name   2755 non-null   object
 4   Last_name    2755 non-null   object
 5   Title        2755 non-null   object
 6   Username     2755 non-null   object
 7   Password     2755 non-null   object
dtypes: int64(1), object(7)
memory usage: 193.7+ KB

In [17]:
df_TestingTitleAndRole = AZ_RawStaff

In [18]:
df_TestingTitleAndRole

,School_id,Staff_id,Staff_email,First_name,Last_name,Title,Username,Password
1,0,9000,liz.vierkoetter@vertexeducation.com,Elizabeth,Vierkoetter,Executive Assistant,1_9000,9000Legacy!2022
8,100,1007,Malika.Khaaliq@legacytraditional.org,Malika,Khaaliq,Kinder Teacher,1_1007,1007Legacy!2022
12,100,1011,Cheryl.Cardinal@legacytraditional.org,Cheryl,Cardinal,4th Grade Teacher,1_1011,1011Legacy!2022
14,100,1013,Shawna.Bennett@legacytraditional.org,Shawna,Bennett,5th Grade Teacher,1_1013,1013Legacy!2022
15,100,1014,cambria.brownfield@legacytraditional.org,Cambria,Brownfield,JH Eng/Lit Teacher,1_1014,1014Legacy!2022
...,...,...,...,...,...,...,...,...
8853,350,9013,zulma.delcueto@legacytraditional.org,Zulma,Del Cueto,Aide,1_9013,9013Legacy!2022
8854,750,9014,timothy.ford@legacytraditional.org,Timothy,Ford,Permanent Substitute,1_9014,9014Legacy!2022
8855,0,9015,kristin.reinert@vertexeducation.com,Kristin,Reinert,HR Manager,1_9015,9015Legacy!2022
8856,1050,9011,wendy.person@legacytraditional.org,Wendy,Person,SPED Teacher,1_9011,9011Legacy!2022
8857,600,9016,jessica.franklin@legacytraditional.org,Jessica,Franklin,SPED SLP (Contractor),1_9016,9016Legacy!2022

In [19]:
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("Principal", case = False), 'Role'] = 'STL'
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("Teacher On Assignment", case = False), 'Role'] = 'STL'
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("Instructional Coach", case = False), 'Role'] = 'STL'
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("Reading Specialist", case = False), 'Role'] = 'STL'
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("SPED Teacher", case = False), 'Role'] = 'STL'
df_TestingTitleAndRole.loc[df_TestingTitleAndRole['Title'].str.contains("Subject Matter Expert", case = False), 'Role'] = 'STL'

C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\lauren.goldfish\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [20]:
df_TestingTitleAndRole['Role'].value_counts()

STL    247
Name: Role, dtype: int64

In [21]:
df_TestingTitleAndRole.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2755 entries, 1 to 8857
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School_id    2755 non-null   int64
 1   Staff_id     2755 non-null   object
 2   Staff_email  2722 non-null   object
 3   First_name   2755 non-null   object
 4   Last_name    2755 non-null   object
 5   Title        2755 non-null   object
 6   Username     2755 non-null   object
 7   Password     2755 non-null   object
 8   Role         247 non-null    object
dtypes: int64(1), object(8)
memory usage: 215.2+ KB

In [22]:
transform_ID = {
    0: '0',
    100:'9',
    150: '6',
    200: '11',
    250: '5',
    300: '4',
    350: '10',
    400: '8',
    450: '7',
    500: '12',
    550: '14',
    600: '13',
    650: '15',
    700: '19',
    750: '20',
    800: '319',
    850: '569',
    900: '570',
    950: '720',
    1000: '719',
    1050: '721',
    1100: '769',
    888100:'669',
    888250: '169',
    888251: '469',
    888350: '420',
    888400: '18',
    888450: '219',
    888451: '419',
    888452: '519',
    888500: '269',
    888501: '819',
    888600: '17',
    888601: '119',
    888650: '69',
    888651: '370',
    888700: '369',
    888888: '16',
    888900: '319',
    999999: '2'
}

df_TestingTitleAndRole['School_id2'] = df_TestingTitleAndRole['School_id'].map(transform_ID)

In [23]:
df_TestingTitleAndRole

,School_id,Staff_id,Staff_email,First_name,Last_name,Title,Username,Password,Role,School_id2
1,0,9000,liz.vierkoetter@vertexeducation.com,Elizabeth,Vierkoetter,Executive Assistant,1_9000,9000Legacy!2022,NaN,0
8,100,1007,Malika.Khaaliq@legacytraditional.org,Malika,Khaaliq,Kinder Teacher,1_1007,1007Legacy!2022,NaN,9
12,100,1011,Cheryl.Cardinal@legacytraditional.org,Cheryl,Cardinal,4th Grade Teacher,1_1011,1011Legacy!2022,NaN,9
14,100,1013,Shawna.Bennett@legacytraditional.org,Shawna,Bennett,5th Grade Teacher,1_1013,1013Legacy!2022,NaN,9
15,100,1014,cambria.brownfield@legacytraditional.org,Cambria,Brownfield,JH Eng/Lit Teacher,1_1014,1014Legacy!2022,NaN,9
...,...,...,...,...,...,...,...,...,...,...
8853,350,9013,zulma.delcueto@legacytraditional.org,Zulma,Del Cueto,Aide,1_9013,9013Legacy!2022,NaN,10
8854,750,9014,timothy.ford@legacytraditional.org,Timothy,Ford,Permanent Substitute,1_9014,9014Legacy!2022,NaN,20
8855,0,9015,kristin.reinert@vertexeducation.com,Kristin,Reinert,HR Manager,1_9015,9015Legacy!2022,NaN,0
8856,1050,9011,wendy.person@legacytraditional.org,Wendy,Person,SPED Teacher,1_9011,9011Legacy!2022,STL,721
8857,600,9016,jessica.franklin@legacytraditional.org,Jessica,Franklin,SPED SLP (Contractor),1_9016,9016Legacy!2022,NaN,13

In [24]:
df_CleverStaffCSV = df_TestingTitleAndRole.filter(['School_id2', 'Staff_id', 'Staff_email', 'First_name', 'Last_name', 'Title', 
                                                   'Username', 'Password', 'Role'])

In [25]:
df_CleverStaffCSV.rename(columns={'School_id2': 'School_id', 'STUDENTS.State_StudentNumber': 'State_Student_ID', 'STUDENTS.Student_Number': 'Student_Number', 'STUDENTS.Last_Name': 'Last_Name', 'STUDENTS.First_Name': 'First_Name', 'STUDENTS.Middle_Name': 'Middle_Name', 'STUDENTS.Grade_Level': 'Grade', 'STUDENTS.DOB': 'DOB', 'STUDENTS.Home_Room': 'Homeroom', 'STUDENTS.Gender': 'Gender'}, inplace=True)

In [26]:
df_CleverStaffCSV.to_csv('Clever_SandboxStaff.csv', index=False, encoding='utf-8')